/*MENU*/
.logo{
    font-weight: 600;
    font-size: 40px;
    color: #ea3a60 !important;
}
.menusag{
    font-weight: 600;
}
.menusag-first{
    color: #ea3a60 !important;
}
.navbar-nav .nav-item a:hover{
    color: #ea3a60 !important;
}
.menuarkaplan{
    background-color: white;
}
/*MENU*/


/*SECTİON2*/
.section2left h3{
    font-size: 45px;
    font-weight: bold;
    width: 220px;
    border-bottom: 2px solid #ea3a60;
}
.section2right h4{
    font-size: 45px;
    margin-top: 100px;
}
.section2right p{
    font-size: 17px;
}

/*SECTİON3*/
#section3 .section3col h3{
    color: #ea3a60; 
    font-size: 55px;
    font-weight: bold;
}
#section3 .section3col{
    background: #f8f9fa;
    padding: 50px 0;
    border-radius:5px;
    position: relative;
    transition: 0.3s ease;
}
#section3 .section3h3{
    font-size: 45px;
    color: black;
    border-bottom:2px solid #ea3a60 ;
}
#section3 .section3col .fa{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #e8ebee;
    margin-right: -5px;
    margin-top: -3px;
}
#section3 .section3col .far{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #e8ebee;
    margin-right: -5px;
    margin-top: -3px;
}
#section3 .section3col .far:hover{
    color: black;
}
#section3 .section3col .fa:hover{
    color: black;
}

/*SECTİON4*/
.section4h3{
    font-size: 45px;
    font-weight: bold;
    border-bottom:2px solid #ea3a60 ;
}
#section4 .col-md-4{
    color: black;
} 
#section4 .col-md-4 b{
    color: black;
    font-size: 20px;
}
#section4 input:focus{
    color: #ea3a60;   
        border-color:  #ea3a60;
}




/* MOBİL*/
@media screen and (min-width: 480px) and (max-width:719px){

#section2 .btn-outline-danger{
    margin-bottom: 50px;  
} 


}

/*720*/
@media screen and (min-width: 720px) and (max-width:959px){
    #section2 .btn-outline-danger{
        margin-bottom: 50px;
    }
   
}
/*960*/
@media screen and (min-width: 960px) and (max-width:1365px){
    #section2 .btn-outline-danger{
        margin-bottom: 50px;
    }
 
}